################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ViGEm.NET/v15
/build/obj/Release
/ViGEmClient/obj
/bin/Nefarius.ViGEmClient
/build/obj
