################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/artifacts
/ViGEmClient/obj
/build/obj
/.tmp
/build/bin
*.DotSettings
*.dll
